/.bundle
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
/storage/*
!/storage/.keep
/node_modules
/yarn-error.log

/public/assets
/public/uploads
/test

/config/master.key
/config/initializers/devise
/config/application.yml

.byebug_history
.DS_Store
