<main class="container">
  <h1 class="general-title-margin">Settings</h1>
  <ul role="tablist" class="nav clearfix mb-20">
    <li role="presentation" class="tab-item active">
      <a href="#address" aria-controls="address" role="tab" data-toggle="tab" class="tab-link">Address</a>
    </li>
    <li role="presentation" class="tab-item">
      <a href="#privacy" aria-controls="privacy" role="tab" data-toggle="tab" class="tab-link">Privacy</a>
    </li>
  </ul>
  <div class="tab-content">
    <div id="address" role="tabpanel" class="tab-pane fade in active general-main-wrap">
      <%= render 'addresses/form' %>
    </div>
    <div id="privacy" role="tabpanel" class="tab-pane fade">
      <%= render 'edit_form' %>
    </div>
  </div>
</main>
