%main.container
  %h1.general-title-margin Settings
  %ul.nav.clearfix.mb-20{:role => "tablist"}
    %li.tab-item.active{:role => "presentation"}
      %a.tab-link{"aria-controls" => "address", "data-toggle" => "tab", :href => "#address", :role => "tab"} Address
    %li.tab-item{:role => "presentation"}
      %a.tab-link{"aria-controls" => "privacy", "data-toggle" => "tab", :href => "#privacy", :role => "tab"} Privacy
  .tab-content
    #address.tab-pane.fade.in.active.general-main-wrap{:role => "tabpanel"}
      = render 'addresses/form'
    #privacy.tab-pane.fade{:role => "tabpanel"}
      = render 'edit_form'
