<div class="general-text-align">
  <p class="in-gold-500 font-18">Order Summary</p>
  <table class="general-summary-table">
    <tr>
      <td>
        <p class="font-16">Subtotal:</p>
      </td>
      <td>
        <p class="font-16"><%= number_to_currency(subtotal_price_init, unit: "€") %></p>
      </td>
    </tr>
    <tr>
      <td>
        <p class="font-16">Coupon:</p>
      </td>
      <td>
        <p class="font-16"><%= number_to_currency(discount, unit: "€") %></p>
      </td>
    </tr>
    <tr>
      <td>
        <strong class="font-18">Order Total:</strong></td>
      <td>
        <strong class="font-18"><%= number_to_currency(total_price_init, unit: "€") %></strong></td>
    </tr>
  </table>
</div>
