<h1 class="general-title-margin">Checkout</h1>
<ul class="steps list-inline">
  <li class="step active">
    <span class="step-number">1</span>
    <span class="step-text hidden-xs">Address</span></li>
  <li class="step-divider"></li>
  <li class="step">
    <span class="step-number">2</span>
    <span class="step-text hidden-xs">Delivery</span></li>
  <li class="step-divider"></li>
  <li class="step">
    <span class="step-number">3</span>
    <span class="step-text hidden-xs">Payment</span></li>
  <li class="step-divider"></li>
  <li class="step">
    <span class="step-number">4</span>
    <span class="step-text hidden-xs">Confirm</span></li>
  <li class="step-divider"></li>
  <li class="step">
    <span class="step-number">5</span>
    <span class="step-text hidden-xs">Complete</span>
  </li>
</ul>
