<main class="container general-main-wrap">
  <h1 class="general-title-margin">Checkout</h1>
  <ul class="steps list-inline">
    <li class="step">
      <span class="step-number">1</span>
      <span class="step-text hidden-xs">Address</span></li>
    <li class="step-divider"></li>
    <li class="step active">
      <span class="step-number">2</span>
      <span class="step-text hidden-xs">Delivery</span></li>
    <li class="step-divider"></li>
    <li class="step">
      <span class="step-number">3</span>
      <span class="step-text hidden-xs">Payment</span></li>
    <li class="step-divider"></li>
    <li class="step">
      <span class="step-number">4</span>
      <span class="step-text hidden-xs">Confirm</span></li>
    <li class="step-divider"></li>
    <li class="step">
      <span class="step-number">5</span>
      <span class="step-text hidden-xs">Complete</span></li>
  </ul>
  <h3 class="general-subtitle">Credit Card</h3>
  <div class="visible-xs">
    <div class="general-cart-item divider-lg-bottom">
      <table class="table">
        <tr>
          <td class="col-half">
            <span class="in-grey-600">Method</span></td>
          <td class="col-half">
            <div class="form-group radio mt-0 mb-0">
              <label class="radio-label">
                <input type="radio" hidden="true" class="radio-input" />
                <span class="radio-icon"></span>
                <span class="radio-text">Delivery Next Day!</span></label></div>
          </td>
        </tr>
        <tr>
          <td>
            <span class="in-grey-600">Days</span></td>
          <td>
            <span class="font-16 fw-300">3 to 7 days</span></td>
        </tr>
        <tr>
          <td>
            <span class="in-grey-600">Price</span></td>
          <td>
            <span class="font-16 in-gold-500">€5.00</span></td>
        </tr>
      </table>
    </div>
    <div class="general-cart-item divider-lg-bottom mb-30">
      <table class="table">
        <tr>
          <td class="col-half">
            <span class="in-grey-600">Method</span></td>
          <td class="col-half">
            <div class="form-group radio mt-0 mb-0">
              <label class="radio-label">
                <input type="radio" hidden="true" class="radio-input" />
                <span class="radio-icon"></span>
                <span class="radio-text">Delivery Next Day!</span></label></div>
          </td>
        </tr>
        <tr>
          <td>
            <span class="in-grey-600">Days</span></td>
          <td>
            <span class="font-16 fw-300">3 to 7 days</span></td>
        </tr>
        <tr>
          <td>
            <span class="in-grey-600">Price</span></td>
          <td>
            <span class="font-16 in-gold-500">€5.00</span></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="hidden-xs mb-res-50">
    <table class="table table-hover">
      <thead>
        <tr>
          <th class="col-method">
            <span class="in-grey-600 ml-40">Method</span></th>
          <th>
            <span class="in-grey-600">Days</span></th>
          <th>
            <span class="in-grey-600">Price</span></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <div class="form-group radio mt-0 mb-0">
              <label class="radio-label">
                <input type="radio" hidden="true" class="radio-input" />
                <span class="radio-icon"></span>
                <span class="radio-text">Delivery Next Day!</span></label></div>
          </td>
          <td>
            <span>3 to 7 days</span></td>
          <td>
            <span class="font-16 in-gold-500">€28.50</span></td>
        </tr>
        <tr>
          <td>
            <div class="form-group radio mt-0 mb-0">
              <label class="radio-label">
                <input type="radio" hidden="true" class="radio-input" />
                <span class="radio-icon"></span>
                <span class="radio-text">Delivery Next Day!</span></label></div>
          </td>
          <td>
            <span>3 to 7 days</span></td>
          <td>
            <span class="font-16 in-gold-500">€28.50</span></td>
        </tr>
      </tbody>
    </table>
  </div>
  <%= render 'order_summary' %>
  <div class="text-center">
    <button class="btn btn-default mb-20">Save and Continue</button></div>
</main>
