%main.container
  #slider.carousel.slide{'data-ride': "carousel"}
    %ol.carousel-indicators
      %li.active{'data-target': "#slider", 'data-slide-to': "0"}
      %li{'data-target': "#slider", 'data-slide-to': "1"}
      %li{'data-target': "#slider", 'data-slide-to': "2"}
    .carousel-inner{role: "listbox"}
      - @latest_books.each_with_index do |book, index|
        - if index == 0
          .item.active
            = render 'latest_books_item', book: book
        - else
          .item
            = render 'latest_books_item', book: book
    %a.left.carousel-control{href: "#slider", role: "button", 'data-slide': "prev"}
      %span.icon-prev{'aria-hidden': "true"}
      %span.sr-only Previous
    %a.right.carousel-control{href: "#slider", role: "button", 'data-slide': "next"}
      %span.icon-next{'aria-hidden': "true"}
      %span.sr-only Next
.container
  .jumbot.text-center.mb-0
    %h2.h1 Welcome to our amazing Bookstore!
    .mb-res-50
      %p We pore through hundreds of new books each month and select the five best we can find to share with our members.
    = link_to "Get Started", categories_path, class:"btn btn-default"
  .mb-35
    %h3 Best Sellers
    .row
      .col-sm-6.col-md-3
        .general-thumb-wrap
          .thumbnail-main.general-thumbnail
            %img.img-shadow.general-thumbnail-img{:alt => "design-book", :src => "http://jonathantweedy.com/resources/thumbs/SmashingBook5ResponsiveWebDesign.jpg"}/
            .thumb-hover
              .general-thumb-link-wrap
                %a.thumb-hover-link{:href => "#"}
                  %i.fa.fa-eye.thumb-icon{"aria-hidden" => "true"}
                %a.thumb-hover-link{:href => "#"}
                  %i.fa.fa-shopping-cart.thumb-icon
        .mb-35
          .clearfix
            %p.pull-right.font-16.in-gold-500 €28.50
            %p.title.mr-55 Android Programming for Beginners
          %span.divider-sm
          %p.lead.small John Horton
