<%= @waiters.body %>

<div class="container">
  <ul class="list-group">
  <%= JSON.parse(@waiters.body).each_with_index do |waiter, index|%>
    <li class="list-group-item">
      Официант #<%= index %>
      <%= waiter %>
    </li>
  <% end %>
  </ul>
</div>
