<p> <%= @account_info.body["access_token"] %> </p>
<p> <%= @account_info.body %> </p>

<%= @waiters.body %>

<div class="container">
  <ul class="list-group">
    <li class="list-group-item">Официант #1</li>
    <li class="list-group-item">Официант #2</li>
    <li class="list-group-item">Официант #3</li>
  </ul>
</div>
