%tr
  %td
    %p.font-16 Subtotal:
  %td
    %p.font-16= number_to_currency(subtotal_price_init(@order), unit: "€")
%tr
  %td
    %p.font-16 Coupon:
  %td
    %p.font-16= number_to_currency(discount(@order), unit: "€")
%tr
  %td
    %strong.font-18 Order Total:
  %td
    %strong.font-18= number_to_currency(total_price_init(@order), unit: "€")
