%p
  Hi #{@account.email}!
%p Thanks for choosing us!
%p Your order successfully completed. Please visit our site for checking your status of order.
%p= link_to 'Check it', orders_url(host: "localhost:3000")
