.rating-input {
    height: 34px;
    margin-left: -20px;
    width: 130px;
}

.rating-input label {
    text-indent: -100px;
    width: 40px !important;
    height: 30px;
    overflow: hidden;
    cursor: pointer;
}

.label {
    float: left;
    padding-top: 3px;
}

input[type="radio"] {
  display: none;
}

input[type="radio"], .rating-input label.rating-input {
    float: right;
    line-height: 30px;
    height: 30px;
}

span + input[type=radio] + label, legend + input[type=radio] + label {
    clear: right;
    margin-right: 80px;
    counter-reset: checkbox;
}

.rating-input label.rating-input {
    background: transparent url('/assets/star-off.svg') no-repeat center center;
}

.rating-input label.rating-input:hover ~ label.rating-input,
.rating-input label.rating-input:hover,
.rating-input input[type=radio][name=rating-input]:checked ~ label.rating-input {
    background-image: url('/assets/star-on.svg');
    counter-increment: checkbox;
}
